body{
  background-color: bisque
}

header{
  font-family: ‘Bitter’, cursive;
  text-align: center;
  width: 14%;
  margin-left: 35%;
  font-size: 500%;

  }

  #mapa{
    width: 14%;
    margin-left: 25%;
    font-size: 500%;
  }

  .buscarin{
    width: 60%;
    margin-left: 24%;
    font-size: 150%;
  }
